<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrderFoodOnline"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            />
        <activity
            android:name=".activity.ActivityImpl.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Màn hình chính sau khi đăng nhập thành công -->
        <activity
            android:name=".activity.ActivityImpl.MainActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ActivityImpl.SignnupActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ActivityImpl.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ActivityImpl.ChangePasswordActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ActivityImpl.FoodDetailActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ActivityImpl.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ActivityImpl.RestaurantActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ActivityImpl.CartActivity"
            android:exported="true">
        </activity>

    </application>

</manifest>